<a href={{href-to 'board' board.id}} class="board-tile" style={{tileStyle}}>
  <span class="board-tile-fade"></span>
  <span class="board-tile-details is-badged">
    <span title="{{board.name}}" class="board-tile-details-name">{{board.name}}</span>
  </span>
  <span class="board-tile-badges"></span>
</a>
