<div class="boards-page-board-section-header">
  <div class="boards-page-board-section-header-icon"><span class='icon-lg {{icon}}'></span></div>
  <h3 class="boards-page-board-section-header-name">{{yield}}</h3>
</div>
