body, button, html, input, select, textarea {
  color: #4d4d4d;
  font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
  line-height: 18px;
}

body {
  margin: 0;
  background: #fff !important;
  z-index: 0;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

#surface, body, html {
  height: 100%;
}

#content, body {
  position: relative;
  overflow-y: auto;
}

#header {
  background: #026AA7;
  overflow: hidden;
  padding: 5px;
  z-index: 10;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  position: relative;
  height: 30px;

  .user {
    color: white;
    font-size: 1pc;
    display: inline-block;
    line-height: 30px;
  }
}

.member {
  border-radius: 3px;
  display: block;
  float: left;
  height: 30px;
  margin: 0 4px 4px 0;
  overflow: hidden;
  position: relative;
  width: 30px;
  user-select: none;
}

.member-boards {
  margin: 1pc auto;
  padding: 8px;
  max-width: 1250px;
}

.board-header {
  margin: 0 0 0 38px;
  padding: 0 0 11px;
  position: relative;

  .name {
    display: inline-block;
    line-height: 24px;
    margin: 3px 0 0;
    font-size: 1pc;
    font-weight: 700;
  }
}

.board-lists {

}

.board-lists-item {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0 8px 0;
  position: relative;
  display: list-item;
  text-align: -webkit-match-parent;
}

.board-tile {
  background-color: #959DA1;
  background-size: cover;
  background-position: center center;
  border-radius: 3px;
  color: #fff;
  display: block;
  line-height: 20px;
  margin-bottom: 8px;
  padding: 8px 9pt;
  position: relative;
  text-decoration: none;
}

.board-tile-details {
  display: block;
  min-height: 5pc;
  padding-right: 36px;
  position: relative;
}

.board-tile-details-name {
  font-size: 1pc;
  font-weight: 700;
  display: inline-block;
  overflow: hidden;
  max-height: 40px;
}
