img {
    border: 0
}

a {
    background-color: transparent
}
a:active,
a:hover {
    outline: 0
}
.u-fancy-scrollbar {
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0)
}
.u-fancy-scrollbar::-webkit-scrollbar {
    height: 9px;
    width: 9px
}
.u-fancy-scrollbar::-webkit-scrollbar-track-piece {
    background: #D6DADC
}
.u-clearfix:after {
    display: table
}

h2 {
    line-height: 1.2em
}
h2 {
    font-size: 18px;
    margin: 0 0 9px
}
a {
    color: #444
}
a:hover {
    color: #111
}
p {
    margin: 0 0 8px
}
div::-moz-selection {
    background: 0 0
}
div::selection {
    background: 0 0
}
input::placeholder,
textarea::placeholder {
    color: #8c8c8c
}
@font-face {
    font-family: trellicons;
    src: url(https://d78fikflryjgj.cloudfront.net/fonts/b08bd554775eafa560d3ea99519e527e/trellicons.eot?#iefix) format('embedded-opentype'), url(https://d78fikflryjgj.cloudfront.net/fonts/dffc8173a96c4bb2ff17961efb603c95/trellicons.woff) format('woff'), url(https://d78fikflryjgj.cloudfront.net/fonts/ac25df9f836b334cec81a4ae8fbc5adb/trellicons.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}
.icon-sm {
    display: inline-block;
    font-family: trellicons;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: #999
}
.icon-sm {
    height: 18px;
    line-height: 18px;
    width: 18px
}
.icon-sm {
    font-size: 9pt
}
.icon-edit:before {
    content: "\e91d"
}
.icon-sm.dark-hover:hover {
    color: #4d4d4d;
    text-decoration: none
}

#board {
    -moz-user-select: none;
    -ms-user-select: none
}
.board-main-content,
.list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal
}
.board-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}
.board-main-content {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 0;
    -webkit-transition: margin .1s ease-in;
    transition: margin .1s ease-in
}
.board-header {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    height: auto;
    overflow: hidden;
    padding: 8px 4px 8px 8px;
    position: relative;
    -webkit-transition: padding .1s ease-in;
    transition: padding .1s ease-in
}
.board-header-btn {
    border-radius: 3px;
    color: #f6f6f6;
    cursor: default;
    float: left;
    font-size: 9pt;
    height: 30px;
    line-height: 30px;
    margin: 0 4px 0 0;
    overflow: hidden;
    padding-left: 30px;
    position: relative;
    text-decoration: none
}
.board-header-btn-text {
    padding-right: 8px
}
.board-header-btn:not(.no-edit):hover {
    background: rgba(0, 0, 0, .12);
    cursor: pointer
}
.board-header-btn:hover {
    color: #f6f6f6
}
.board-header-btn-name {
    cursor: default;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    padding-left: 4px;
    text-decoration: none
}
.board-header-btn-name .board-header-btn-text {
    padding-left: 6px
}
.body-light-board-background .board-header-btn:not(.board-header-btn-filter-indicator):not(.board-header-btn-enabled) {
    color: rgba(0, 0, 0, .7)
}
.body-board-view {
    background-size: cover;
    overflow: hidden
}
.body-board-view.body-custom-board-background-tiled {
    background-size: auto;
    background-repeat: repeat
}
.body-custom-board-background .board-header-btn:not(.no-edit):hover {
    background: rgba(0, 0, 0, .3)
}
.body-light-board-background .board-header-btn:not(.board-header-btn-filter-indicator):not(.board-header-btn-enabled) {
    background: 0 0
}
.body-light-board-background .board-header-btn:not(.board-header-btn-filter-indicator):not(.board-header-btn-enabled):not(.no-edit):hover {
    background: rgba(0, 0, 0, .1)
}
.board-canvas {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}
#board {
    user-select: none;
    white-space: nowrap;
    margin-bottom: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}
#board::-webkit-scrollbar {
    height: 13px;
    width: 13px
}
#board::-webkit-scrollbar-track-piece {
    background: rgba(0, 0, 0, .15)
}
#board::-webkit-scrollbar-button {
    display: block;
    height: 5px;
    width: 5px
}
.list-wrapper {
    width: 270px;
    margin: 0 5px;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap
}
.list {
    -moz-box-sizing: border-box
}
.list-wrapper:first-child {
    margin-left: 10px
}
.list-wrapper:last-child {
    margin-right: 10px
}
.list {
    background: #E2E4E6;
    border-radius: 3px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal
}
.list-header-name-assist {
    display: none
}
.list-header {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 8px 10px;
    position: relative;
    min-height: 18px
}
.list-header.is-menu-shown {
    padding-right: 34px
}
.list-header-target {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}
.list-cards {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 0 4px;
    z-index: 1;
    min-height: 0
}
.list-card-cover {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}
.list-card-stickers-area {
    border-radius: 3px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5
}
.list-card-stickers-area .stickers {
    height: 155px;
    position: relative;
    width: 100%
}
.list-card a {
    color: #4d4d4d
}
.list-card {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 6px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    z-index: 0
}
.list-card-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none
}
.list-card-details {
    overflow: hidden;
    padding: 6px 6px 2px 8px;
    position: relative;
    z-index: 10
}
.list-card-operation {
    background-color: #EDEFF0;
    background-clip: padding-box;
    background-origin: padding-box;
    border-radius: 3px;
    opacity: .8;
    padding: 4px;
    position: absolute;
    right: 3px;
    top: 3px;
    visibility: hidden;
    z-index: 40
}
.list-card-operation:hover {
    background-color: #D6DADC;
    opacity: 1
}
.list-card-title {
    clear: both;
    display: block;
    font-weight: 400;
    margin: 0 0 4px;
    overflow: hidden;
    text-decoration: none;
    word-wrap: break-word
}
.list-card-title::-moz-selection {
    background: 0 0
}
.list-card-title::selection {
    background: 0 0
}
.list-card-members {
    float: right
}
.list-card-dropzone,
.list-card-members:empty {
    display: none
}
.badges {
    float: left;
    max-width: 100%
}
.badges {
    padding-bottom: 2px
}
.list-card-labels {
    position: relative
}
.list-card-labels {
    margin: 2px 0;
    overflow: auto
}
.list-card-labels:empty {
    display: none;
    margin: 0
}
@media only screen and (max-width: 750px) {
    .u-fancy-scrollbar {
        -webkit-overflow-scrolling: initial
    }
}
.hide {
    display: none
}
