<div class="member-boards">
  <div class="board-header"><h3 class="name">My Boards</h3></div>
  <ul class="board-lists">
    {{#each model as |board|}}
      <li class="board-lists-item">
        {{board-tile board=board}}
      </li>
    {{/each}}
  </ul>
</div>
